<ion-header>
  <ion-toolbar>
    <ion-title>Multi aplicações</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button color="success" href="/home" expand="block">Suporte com log de json </ion-button>
  <ion-button color="warning" href="/inicio" expand="block">Cadastrar usuarios e idades</ion-button>
  <ion-button color="danger" href="/home-cep" expand="block"
    >Pesquisar cep com temperatura
  </ion-button>
  <ion-button color="dark" href="/imc" expand="block">Calcular o IMC</ion-button>
  <ion-button color="light" href="/home-pipes" expand="block">Pipes</ion-button>
</ion-content>
