<ion-header>
    <ion-toolbar>
        <ion-title>Cadastrar Cadeira</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-img [src]=""></ion-img>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="4">
                <ion-item>
                    <ion-label position="floating">ID</ion-label>
                    <ion-input></ion-input>
                </ion-item>
            </ion-col>
            <ion-col>
                <ion-item size="8">
                    <ion-label position="floating">Nome</ion-label>
                    <ion-input></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>